.post {
    width: 60%;
    margin: 10px auto;
    padding: 10px 0 0 0;
    background-color: rgba(236, 239, 241, 1);
}

.posted-headline {
    padding: 3px;
}

.posted-link {
    padding: 3px;
}

.postedBy {
    padding: 3px;
    text-align: right;
}

.postedBy > p {
    font-size: 10px;
}

.comments-container {
    padding-left: 15px;
    background-color: rgba(176, 190, 197, 1);
}

.delete-button-container {
    text-align: right;
    padding-right: 5px;
}

.delete-button {
    background: #607D8B;
    background-image: -webkit-linear-gradient(top, #607D8B, #607D8B);
    background-image: -moz-linear-gradient(top, #607D8B, #607D8B);
    background-image: -ms-linear-gradient(top, #607D8B, #607D8B);
    background-image: -o-linear-gradient(top, #607D8B, #607D8B);
    background-image: linear-gradient(to bottom, #607D8B, #607D8B);
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    color: #ffffff;
    font-size: 11px;
    padding: 3px 3px 3px 3px;
    text-decoration: none;
    font-family: sans-serif;
}

.delete-button:hover {
    background: #CFD8DC;
    background-image: -webkit-linear-gradient(top, #CFD8DC, #CFD8DC);
    background-image: -moz-linear-gradient(top, #CFD8DC, #CFD8DC);
    background-image: -ms-linear-gradient(top, #CFD8DC, #CFD8DC);
    background-image: -o-linear-gradient(top, #CFD8DC, #CFD8DC);
    background-image: linear-gradient(to bottom, #CFD8DC, #CFD8DC);
    text-decoration: none;
}

@media screen and (min-width: 1024px) {
    .post {
        width: 40%;
        display: inline-block;
        vertical-align: top;
        margin: 10px 5%;
    }
}