.createAccount {
    margin: 30px auto;
    padding: 25px;
    width: 50%;
    background-color: rgba(207, 216, 220, 1);
    box-shadow: 5px 5px 0 rgba(136, 136, 136, 1);
}

.createAccount > h3 {
    margin-bottom: 10px;
}

.createAccount > button {
    margin-top: 10px;
}

.signup-button {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  color: #ECEFF1;
  font-size: 18px;
  background: #455A64;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  margin: 0 0 0 10px;
}

.signup-button:hover {
  background: #90A4AE;
  background-image: -webkit-linear-gradient(top, #90A4AE, #90A4AE);
  background-image: -moz-linear-gradient(top, #90A4AE, #90A4AE);
  background-image: -ms-linear-gradient(top, #90A4AE, #90A4AE);
  background-image: -o-linear-gradient(top, #90A4AE, #90A4AE);
  background-image: linear-gradient(to bottom, #90A4AE, #90A4AE);
  text-decoration: none;
}

.signup-button:disabled {
  background: #90A4AE;
  color: grey;
  background-image: -webkit-linear-gradient(top, #90A4AE, #90A4AE);
  background-image: -moz-linear-gradient(top, #90A4AE, #90A4AE);
  background-image: -ms-linear-gradient(top, #90A4AE, #90A4AE);
  background-image: -o-linear-gradient(top, #90A4AE, #90A4AE);
  background-image: linear-gradient(to bottom, #90A4AE, #90A4AE);
  text-decoration: none;
}

.message {
    margin: 5px;
    font-size: 13px;
    color: red;
}

.success {
    margin: 5px;
    font-size: 15px;
    color: green;
}