.blog-container {
    padding: 30px;
    text-align: center;
    min-height: calc(100% - 94px - 56px);
    margin: 30px auto 0;
}

@media screen and (max-width: 700px) {
    .blog-container {
        padding: 10px;
    }
}